<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.pay.mapper.PayInfoMapper">
	<sql id="Base_Column_List" >
		`id`,`user_id`,`order_id`,`pay_method`,`pay_account`,`pay_no`,`pay_amount`,`pay_type`,`trade_type`,`remark`,`pay_status`,`pay_time`,`create_time`,`create_by`,`update_time`,`update_by`,`del_flag`
	</sql>
</mapper>
